<!doctype html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org" th:replace="base::Layout(~{::section})">

<head>
	<meta charset="UTF-8" />
	<title>sign in</title>
</head>

<body>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<div class="mycard mt-2">


						<div th:if="${session.message}" th:classappend="${session.message.type}" class="alert"
							role="alert">
							<p th:text="${session.message.content}"></p>



							<!-- <th:block th:text="${session.removeAttribute('message')}"></th:block> -->
							 
						</div>
						
						<h1 class="text-center"> Register Here!!</h1>

						<form novalidate action="" th:action="@{/do_register}" method="post" th:object="${user}">
							<!--Name field-->
							<div class="mb-3">
								<label for="name_field" th:value="${user.name}" class="form-label">Your Name</label>
								<input name="name" type="text" class="form-control" id="name_field"
									placeholder="Enter Here" th:classappend="${ #fields.hasErrors('name')? 'is-invalid' : '' }">

								<div th:each="e: ${#fields.errors('name')}" th:text="${e}" id="validationServer03Feedback" class="invalid-feedback"> </div>
	
							</div>
							<!--email field-->
							<div class="mb-3">
								<label for="email_field" class="form-label">Your E-mail</label>
								<input name="email" type="email" th:value="${user.email}" class="form-control"
									id="email_field" placeholder="Enter Here" th:classappend="${ #fields.hasErrors('email')? 'is-invalid' : '' }" required>
								<div th:each="e: ${#fields.errors('email')}" th:text="${e}" id="validationServer03Feedback" class="invalid-feedback"> </div>
							</div>
							<!--password field-->
							<div class="mb-3">
								<label for="password_field" class="form-label">Your password</label>
								<input name="password" type="password" th:value="${user.password}" class="form-control"
									id="password_field" placeholder="Enter Here">
							</div>

							<!--about field-->

							<div class="mb-3">
								<textarea name="about" th:value="${user.about}" placeholder="Enter about yourself"
									rows="10" class="form-control" th:classappend="${ #fields.hasErrors('about')? 'is-invalid' : '' }"></textarea>
									
										<div th:each="e: ${#fields.errors('about')}" th:text="${e}" id="validationServer03Feedback" class="invalid-feedback"> </div>
							</div>
							<!--Terms and condition-->
							<div class="mb-3 form-check">
								<input type="checkbox" name="aggrement" class="form-check-input" id="aggrement" />
								<label for="aggrement"> Accept terms and conditions</label>
							</div>
							

							<div class="container text-center">
								<button type="submit" class="btn bg-primary text-white">
									Register
								</button>
								<button type="reset" class="btn btn-warning">
									Reset
								</button>
							</div>

					</div>
					</form>



				</div>
			</div>
		</div>
		</div>
	</section>
</body>

</html>